/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

body { 
	padding-top: 70px; 
	background-color: #fffeb3;
}

.modal-background{
	background-color:#ffe28a;
}

.blue-text{
	color:#6fcb9f;
}

.black-text{
	color:black;
}

.red-text{
	color:#fb2e01;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-height: 600px) {

	.spacer-75{
		margin-left:auto;
		margin-right:auto;
		height:75px;
	}
}

@media only screen and (min-height: 500px) {

	.spacer-30{
		margin-left:auto;
		margin-right:auto;
		height:30px;
	}
}